@model IEnumerable<CourseWork.Core.Identity.WebUser>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h2>@Localizer["UserList"]</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">@Localizer["Roles"]</a>
            </td>
        </tr>
    }
</table>