@model WebTask.Api.Models.Account.LogoutViewModel

<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <p>Are you sure?</p>

                <p>
                    <button class="btn btn-primary" asp-action="LogoutUser">Yes</button>
                    <button class="btn btn-light ml-5 border-dark" asp-action="DontLogoutUser">No</button>
                </p>
            </div>
        </div>
    </div>
</form>